@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Pixelify+Sans&display=swap');

#story{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    width: 60vw;
    font-size: 12px;
}